<!--The content below is only a placeholder and can be replaced.-->

<form #f="ngForm" (ngSubmit)="submit(f)">
School Parent Entity
<br> 
<input type="text" ngModel name="entity" placeholder="School Parent Entity" #entity="ngModel" required>
<div *ngIf="!entity.touch && ! entity.valid">
  Please enter Parent Entity
</div>
<br>
Name
<br> 
<input type="text" ngModel name="name" placeholder="School Name" #name="ngModel" required>
<div *ngIf="!name.touch && ! name.valid">
  Please enter School name
</div>

<br>
Established Year
<br> 
<input type="Date" ngModel name="year" placeholder="School Established Year" #year="ngModel" required>
<div *ngIf="!year.touch && ! year.valid">
  Please enter School establish year
</div>

<br>
Approximate Number of Students
<br> 
<input type="number" ngModel name="students" placeholder="School Approx Student" #students="ngModel" required>
<div *ngIf="!students.touch && ! students.valid">
  The Field is required 
</div>

<br>
Brand
<br> 
<input type="text" ngModel name="brand" placeholder="School Brand" #brand="ngModel" required>
<div *ngIf="!brand.touch && ! brand.valid">
  Please Enter School Brand 
</div>

<br>
Email Address
<br> 
<input type="email" ngModel name="email" placeholder="Email Address" #email="ngModel" required>
<div *ngIf="!email.touch && ! email.valid">
  Please Enter email Address
</div>

<br>
Principal Name
<br> 
<input type="text" ngModel name="principal" placeholder="School principal name" #principal="ngModel" required>
<div *ngIf="!principal.touch && ! principal.valid">
  Please enter principal name 
</div>

<br>
Level Serviced 
<br> 
<input type="text" ngModel name="level" placeholder="School Type" #level="ngModel" required>
<div *ngIf="!level.touch && ! level.valid">
  The Field is required 
</div>

<br>
Address
<br> 
<input type="text" ngModel name="address" placeholder="Address" #address="ngModel" required>
<div *ngIf="!address.touch && ! address.valid">
  The Field is required 
</div>

<br>
State
<br> 
<!-- <input type="number" ngModel name="students" placeholder="School Approx Student" #students="ngModel" required> -->
<input list="state" name="state"placeholder="Select State">
  <datalist id="state">
    <option value="Uttar Pradesh">
    <option value="Uttrakhand">
    <option value="Arunachal Pradesh">
    <option value="Maharashtra">
    <option value="Other">
  </datalist>

  <br>
City
<br> 
<!-- <input type="number" ngModel name="students" placeholder="School Approx Student" #students="ngModel" required> -->
<input list="city" name="city"placeholder="Select city">
  <datalist id="city">
    <option value="Saharanpur">
    <option value="Muzzafarnagar">
    <option value="Meerut">
    <option value="Ghaziabad">
    <option value="Other">
  </datalist>

  <br>
Post Code
<br> 
<input type="number" ngModel name="code" placeholder="Enter Postcode" #code="ngModel" required>
<div *ngIf="!code.touch && ! code.valid">
  The Field is required 
</div>

<br>
Number
<br> 
<input type="number" ngModel name="number" placeholder="Enter Number" #number="ngModel" required>
<div *ngIf="!number.touch && ! number.valid">
  The Field is required 
</div>

<label>

    <input type="radio" ngModel name="clap" value="2"> I agree with the Terms and Conditions
  </label>
  <button (click)="final(f)" [disabled]="!f.valid">Submit</button>
</form>
<router-outlet></router-outlet>
